.photogallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 70vh; */
  margin-top: 6rem;
  position: relative;
}
/* heading */
.photogallery span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.photogallery span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.photogallery .swiper {
  overflow: visible !important;
}

.photogallery-slider {
  margin-top: 3rem;
  width: 100%;
}

.photogallery-slider .swiper-slide {
  width: 20rem;
}
.photogallery img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}
.blurp {
  position: absolute;
  width: 42rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -9;
  top: 250%;
  left: 6%;
  filter: blur(88px);
  overflow: hidden;
}
.image-gallery {
  margin-top: 3rem;
}
.myvalignstyle {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .photogallery {
    position: relative;
    margin-top: 20rem;
  }
}
