.Intro {
  display: flex;
  height: 25rem;
  margin-top: 6rem;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 2rem;
}
.i-name > :nth-child(3) {
  font-weight: 600;
  font-size: 18px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  display: flex;
  gap: 2rem;
}
.i-icons > * {
  transform: scale(1.1);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(1.2);
  left: 7%;
  top: -7%;
}

.i-right > :nth-child(2) {
  /* transform: scale(0.92); */
  top: -10%;
  left: -12%;
  border-radius: 50%;
  padding: 0;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 3rem;
    height: 64rem;
    margin-top: 2rem;
  }
  .i-left {
    padding: 1rem;
  }
  .i-right {
    transform: scale(0.8);
    left: 0rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1) {
    top: 17rem !important;
  }
  .floating-div:nth-of-type(2) {
    top: 24rem !important;
  }
  .i-right > :nth-child(1) {
    left: -18%;
    top: 37%;
  }

  .i-right > :nth-child(2) {
    left: -12%;
    top: -2rem;
  }
  .i-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  /* .floating-div:nth-of-type(2) {
    top: 15rem !important;
  } */
}
